$negro: #000000;
$blanco: #F6F6F6;
$verde: #34EB9B;

@font-face {
    font-family: 'Acumin Variable';
    src: url(./assets/fonts/Acumin-Variable-Concept.ttf);
}

@font-face {
    font-family: 'Nanum Gothic';
    src: url(./assets/fonts/NanumGothicCoding-Regular.ttf);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    font-family: 'Nanum Gothic', sans-serif;
}

.jordan-container {

    .jordan-img {
        width: 1530px;
        height: 700px;
        object-fit: cover;
    }

    .jordan {
        padding: 15px 60px;
        font-size: 22px;
        font-weight: bold;
        position: absolute;
        top: 72%;
        left: 75%;
        background-color: $verde;
        color: $negro;
    }
}